<section class="body">
	<div class="container">
		<div class="row">
			<div class="about_explanation">
				<h1>shakashakaとは？</h1>
				<p>音楽との偶然の出会いを楽しんでいただく場所です。<br>
					トップページでは ROCK POP PUNK の３つから選んでみてください。 <br>
					新しい発見があるはずです。</p>
				<%= link_to "let's shakashka!", "/", class: "col-xs-offset-4 toppath" %>
			</div>

			<div class="nojiri_poem">
				<p>音楽に出会うためのCD屋<br/>先入観はもういらない</p>
			</div>
		</div>
	</div>
</section>