<div class="main-container">
	<div class = "row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<div id="language-wrapper">
				<h1 class="language-title text-center">shaka-shakaとは?</h1>
				<div class="language-text text-center">
					<p class = "text1">音楽に出会うためのCD屋</p>
					<p class = "text1">先入観はもういらない</p>
					<p><%= image_tag 'picture_image.jpeg', :size =>'500x400', :class =>'picture center-block' %></p>
					<p class = "text1">Let`s ShakaShaka!</p>
				</div>
		 	</div>
		</div>
		<div class="col-xs-4"></div>
	</div>
</div>