<section class="body">
	<div container>
		<div class="row">
			<div class="col-xs-offset-4">
				<h1>Let's <strong>ShakaShaka</strong> !</h1>
				<h4>ジャンルを選択してください</h4>
			</div>
			<div class="col-xs-3 col-xs-offset-2">
				<%= image_tag 'img/no_image.png', size: "200x200", id: "rock" %>
				<h3 class="rock">R O C K</h3>
			</div>
			<div class="col-xs-3">
				<%= image_tag 'img/no_image.png', size: "200x200", id: "pop" %>
				<h3 class="pop">P O P</h3>
			</div>
			<div class="col-xs-3">
				<%= image_tag 'img/no_image.png', size: "200x200", id: "punk" %>
				<h3 class="punk">P U N K</h3>
			</div>
		</div>
	</div>
</section>

<%# rails側でジャンルに紐づくプロダクトをランダムに１つ取得する %>
<div id="overlay">
	<div id="result">
		<h2>discover new music</h2>
		<div id="content">
			<%#= attachment_image_tag @random_product, :image, :fill, 200, 200, format: 'jpeg', class: "jacket-iamge", fallback: 'img/no_image.png', size: "200x200" %>
			<%#= link_to @random_product.product_title, @random_product %>
		</div>
		<button id="close">X</button>
	</div>
</div>

<script>
<%# ajaxでモーダルが表示されるたびにコントローラの処理を呼び出しproductをランダムで１つ表示させる。 %>
	$(function(){
		$(document).on('click', '#rock,#pop,#punk', function(){
			$.ajax({
				type:'GET',
				url:'/api/json_top',
				dataType: 'json',
			})
			.done(function(data){
				console.log(data.name);
				console.log(data.image);

				$('#content').empty();
				$('#overlay,#result').fadeIn();
				$('#content').html(data.name);
				$('#content').append(data.image);

				$(document).on('click', '#overlay,#close', function(){
					$('#content').empty();
					$('#overlay,#result').fadeOut();
					$(document).on('click', '#result', function(e){
					e.stopPropagation();
					});
				});
			})

			.fail(function(){
				alert('fail')
			});
		});
	});


<%#	=begin modal 発火後モーダル表示させる処理のみ
	$(function(){
		$(document).on('click', '#rock,#pop,#punk', function(){
			$('#overlay,#result').fadeIn();
		});
		$(document).on('click', '#close,#overlay', function(){
			$('#overlay,#result').fadeOut();
			$(document).on('click', '#result', function(e){
			e.stopPropagation();
			});
		});
	});
%>
</script>