<section class="body">
	<div container>
		<div class="row">
			<div class="col-xs-offset-4">
				<h1>Let's <strong>ShakaShaka</strong> !</h1>
				<h4>ジャンルを選択してください</h4>
			</div>
			<div class="col-xs-3 col-xs-offset-2">
				<%= image_tag 'img/no_image.png', size: "200x200", id: "rock" %>
				<h3 class="shaka_rock">R O C K</h3>
			</div>
			<div class="col-xs-3">
				<%= image_tag 'img/no_image.png', size: "200x200", id: "pop" %>
				<h3>P O P</h3>
			</div>
			<div class="col-xs-3">
				<%= image_tag 'img/no_image.png', size: "200x200", id: "punk" %>
				<h3>P U N K</h3>
			</div>
		</div>
	</div>
</section>

<div class="signup-modal-wrapper" id="signup-modal">
	<div class="modal">
		<div>
			<i class="fa fa-times fa-2x" id="close-modal">
		</div>
		<div class="result">
			<h2>discover music</h2>
			<%= attachment_image_tag products, :image, :fill, 100,100, fallback: 'img/no_image_png' %>
			<button>close</button>
		</div>
	</div>
</div>

<script>
	// result-modal発火アクション
	$(function(){
		$('#rock').on('click', function(){
			$('#signup-modal').fadeIn();
		});
		$('close-modal').on('click', function(){
			$('#signup-modal').fadeOut();
		});
	});




	$(function(){
		$('#rock').on('click', function(){
			$.ajax({
				url:'result',
				type:'GET',
				data:
			})
		});


		$('#pop').on('click', function(){
			$.get()
		});


		$('#punk').on('click', function(){
			$.get('genres_id');
		});
	});
</script>