<body>
  <div class = "container">
    <div class = "row">
      <div class="col-xs-1"></div>
        <h1 class ="col-xs-5">送付先リスト</h1>
        <% link_to "新規登録", new_user_destination_path, class:"btn btn-default btn-sm"%>
        <a href="/artists/new" class="btn btn-default btn-sm col-xs-2" role="button">新規登録</a>
    <div>
      <div class="col-xs-6">
      </div>
  </div>
</body>