// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-bar input {
	float: left;
}

#new_product_button {
  float: right;
}

.paginate {
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.top-message {
  text-align: center;
}

.center-block{
	width: 100%;
	padding-top: 20px;
}

.text_box{
	width:259px;
	height:52px;
}
