#overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.3);
	display:none;
	z-index:1
}
#result{
	width:700px;
	height:600px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border:2px solid black;
	border-radius:6px;
	background-color:#fff;
	display:none;
	z-index:2
}
#close{
	width:80px;
	height:35px;
	color:red;
	background-color:#fff;
	border:2px solid red;
	border-radius:3px;
	transition:.4s;
}
#close:hover{
	background:red;
	color:#fff;
}

/* ラジオボタンの隣にあるラベル内のボックスは非表示にしておく */
.destinations input + label div { 
	display: none; 
}

/* チェックが入っているラジオボタンの隣にあるラベル内のボックスは表示 */
.destinations input:checked + label div {
	 display: block; 
	 padding: 5px 0px; 
	 font-weight:bold; 
}

.destinations label {
   display: block;
   margin: 5px 20px;
   background-color: silver;
}