// モーダルの表示用
#overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.3);
	display:none;
	z-index:1
}
#result{
	width:600px;
	height:450px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border:2px solid black;
	border-radius:6px;
	background-color: rgb(220, 255, 231);
	display:none;
	padding:30px;
	z-index:2
}
#close{
	color:gray;
	border-radius:3px;
	font-size: 35px;
	position:absolute;
	top:2%;
	left:93%;
	transition:.4s;
}
#close:hover{
	color:#fff;
}

#modal-title {
	text-align: center;
	margin-bottom: 30px;
}

// 送付先選択にかかるアコーディオン
//  ラジオボタンの隣にあるラベル内のボックスは非表示にしておく 
.destinations input + label div { 
	display: none; 
}

//  チェックが入っているラジオボタンの隣にあるラベル内のボックスは表示 
.destinations input:checked + label div {
	display: block; 
	padding: 5px 0px; 
	font-weight:bold; 
}

.destinations label {
  display: block;
  margin: 5px 20px;
}

.destinations p {
	background-color: #fff;
}

.destinations .go {
	width: 100%;
}

.destinations {
	margin-left: 20px;
}

// カート画面
.cart-product-details {
	margin-top: 15px;
}

.cart_products {
	background-color: rgb(255, 255, 239);
	margin: 15px;
	border-radius: 5px;
}

.cart_show_body {
	background-color: rgb(250, 244, 210);
}

.cart_buttons {
	display: inline-block;
	text-align: right;
}

.forms {
	margin: 55px 0 0 330px;
}

// 注文確認画面
.destination-row{
	background-color: rgb(255, 255, 239);
	border-radius: 5px;
}
.confirm_body {
	background-color: rgb(250, 244, 210);
}

.order_price {
	padding: 20px;
	text-align: center;
	// padding-bottom: 10px;
	// padding-left: 20px;
	border-radius: 5px;
}

.purchase-products {
	margin-left: 30px;
}

.purchase-product {
	padding-left: 20px;
	padding: 20px 0;
	margin-bottom: 10px;
	background-color: rgb(255, 255, 239);
	border-radius: 10px;
}

.product-detail {
	margin: auto 0;
}

.total-price {
	color: rgb(0, 180, 0);
}

.destination {
	text-align: center;
	margin: 20px 0;
	border-radius: 5px;
	padding: 20px;
}

#updated_by_ajax, #dest-select{
	display: inline-block;
	margin: 20px;
}


// 注文完了画面
#purchase-thanks {
	font-weight: bold;
	color: rgb(0, 180, 0);
}

#thanks-body {
	margin: 0 auto;
	text-align: center;
}