// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.ordersbody{
	background-color:#faf4d2;
	width:100%;
}*/
.order-containers{
	margin: 0 200px;
}
.order-container:nth-child(1){
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.order-container:nth-child(2){
	border:solid 1px lightgray;
	border-radius: 6px;
	padding: 0 3px;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/*flex-flow: row nowrap;*/
	justify-content: space-around;
	align-items: center;
}
.order-container-content{
	flex: 0 2 auto;
	align-self: flex-start;
}
.order-container-status{
	margin-bottom: 30px;
}
.order-container:nth-child(3){
	margin-top: 5px;
	border:solid 1px lightgray;
	border-radius: 6px;
	padding: 0 3px 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
}
.order-container:nth-child(4){
	display: flex;
	flex-direction: row;
}
.order-container-title{
	padding-left: 20px;
}
.order-container-button{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.order-container-button-c,.order-container-button-b,.order-container-button-e{
	margin-top: 5px;
}