// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ordersbody{
	background-color:#faf4d2;
	width:100%;
}
.order-product-show{
	width: 100%;
	height: 230px;
	padding-top:120px;
}