// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-container {
  padding: 0 50px;
}

.genre {
  margin: 15px;
  font-size: 22px;
}

.genre_name {
  margin-left: 10px;
}

.product {
  float: left;
  margin: 12px;
  background-color: rgb(220, 255, 231);
  border-radius: 5px;
}

.product div {
  text-align: center;
}
.product .cart-icon {
  display: inline;
}
.product .new_cart_product {
  float: right;
}

#new_product_button {
  float: right;
}

.item-image {
  padding: 10px;
}

.stock-status {
  text-align: center;
}

.add_item_form, .link_buttons {
  float: left;
  padding: 5px;
  margin: 5px;
}

.category-bar {
  padding: 0 0 20px 20px;
}

.search-bar input {
  width: 300px;
  border-radius: 5px;
  border-color: gray;
}

.paginate {
  text-align: center;
}

.song-list, .detail-information {
  padding-left: 20px;
}

.product-list {
  padding-left: 30px;
}

.songs_input {
  margin: 40px 0;
}

.add_product_container {
  margin: 0 200px;
}

.form {
  padding: 7px 0;
}