// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text1{
	padding: 10px 10px 10px 0;
	text-align: left;
}

.text2{
	width:20px;
	height:20px;
}
.button-top{
	padding-top: 30px;
	width: 100px;
	margin-right: 0 auto;
}

.text{
	padding: 5px;
	margin-bottom:30px;
}