// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit {
    text-align: center
}
.haikei {
    padding-top: 60px;
    background-color: rgb(250, 244, 210);
    height : calc(100vh - 105px);
}

.admin {
    background-color: rgb(250, 244, 210);
}
.form-group {
    float:left;
}
.form {
    float: right
}
